{% extends "base.html" %}
{% block contents %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">환영합니다!
                    </h1>
                    <p class="lead fw-normal text-white-50 mb-4">저희 K-TOUCH는 고객님의 만족을 위해 항상 노력하고 있습니다!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        {% if not request.session.uid %}
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login/">로그인</a>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/register/">회원가입</a>
                        {% else %}
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/makereservation/">예약하기</a>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/question/">문의하기</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                    src="https://st3.depositphotos.com/2037307/12492/i/600/depositphotos_124924318-stock-photo-close-up-view-of-blue.jpg"
                    alt="..." /></div>
        </div>
    </div>
</header>
{% endblock %}