{% extends "base.html" %}
{% block contents %}
<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Services Price</h1>
            <p class="lead fw-normal text-muted mb-0">원하시는 서비스가 무엇이신가요?</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Pricing card free-->
            <div class="col-lg-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="mb-3">
                            <div class="display-6">헤어라인</div>
                            <span class="display-6 fw-bold">12,000</span>
                            <span class="text-muted">원</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>1 users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Free linked domain
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Monthly status reports
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Pricing card pro-->
            <div class="col-lg-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="mb-3">
                            <div class="display-6">입술</div>
                            <span class="display-6 fw-bold">22,000</span>
                            <span class="text-muted">원</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>5 users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Free linked domain
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Monthly status reports
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Pricing card enterprise-->
            <div class="col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="mb-3">
                            <div class="display-6">눈썹</div>
                            <span class="display-6 fw-bold">32,000</span>
                            <span class="text-muted">원</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited</strong>
                                linked domains
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-check text-primary"></i>
                                Monthly status reports
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="mb-3">
                            <div class="display-6">아이라인</div>
                            <span class="display-6 fw-bold">32,000</span>
                            <span class="text-muted">원</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5GB storage
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Unlimited</strong>
                                linked domains
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-check text-primary"></i>
                                Monthly status reports
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}