{% extends "base.html" %}
{% block contents %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">자주 묻는 문의</h1>
        </div>
        <div class="row gx-5">
            <div class="col-xl-8">
                <!-- FAQ Accordion 1-->
                <h2 class="fw-bolder mb-3">가격 문의</h2>
                <div class="accordion mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">헤어 라인 가격은 어떻게 되나요?</button></h3>
                        <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                헤어 라인 가격은 12,000원입니다! 자세한 사항은 가격 페이지를 참조해주세요!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">입술은 가격이 어떻게 되나요?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                입술 가격은 22,000원입니다! 자세한 사항은 가격 페이지를 참조해주세요!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">눈썹은 가격이 어떻게 되나요?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                눈썹 가격은 32,000원입니다! 자세한 사항은 가격 페이지를 참조해주세요!
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FAQ Accordion 2-->
                <h2 class="fw-bolder mb-3">시술 문의</h2>
                <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">시술은 많이 아픈가요?</button></h3>
                        <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                사람에 따라 다르기에 정확하게 말씀드릴 수는 없지만, 그래도 생각보다는 덜 아프다는 고객 분들이 많으셨습니다!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">시술은 1번에 끝나나요?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                고객님이 받으시는 시술에 따라 재시술이 있을 수 있습니다! 자세한 사항은 가격 페이지를 참조해주세요!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">하시고 싶은 문의가 있으신가요?</div>
                                <p class="text-muted mb-4">
                                    문의해주세요!
                                    <br />
                                </p>
                                <div class="d-grid"><button class="btn btn-secondary btn-lg" type="submit"><a
                                            href="/question/create/"
                                            class="text-decoration-none text-white">문의하기</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}