{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                        alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">{{ request.session.uid }} 님</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ request.session.uid }} 님의 문의입니다.</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ question.register_date|date:'Y-m-d H:i' }}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light">{{ question.category }}</a>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4 py-5 px-4 border-top border-bottom border-dark">{{ question.contents }}</p>

                    </section>
                    <span>
                        <button type="submit" class="btn btn-primary mt-3 mb-lg-5"><a
                                href="/question/{{ question.id }}/update/"
                                class="text-white text-decoration-none">수정하기</a></button>
                        <button type="submit" class="btn btn-primary mt-3 mb-lg-5"><a
                                href="/question/{{ question.id }}/delete/"
                                class="text-white text-decoration-none">삭제하기</a></button>
                    </span>
                </article>
                <!-- Comments section-->
                <section>
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form method="POST" action="/answer/create/">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    {% if field.name == 'answer' %}
                                    <textarea class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}"
                                        placeholder="답변을 작성해주세요."></textarea>
                                    {% else %}
                                    <input type="{{ field.field.widget.input_type }}" class="form-control mt-1"
                                        name="{{ field.name }}" id="{{ field.id_for_label }}"
                                        placeholder="{{ field.label }}"
                                        value="{% if field.name == 'question' %}{{ question.id }}{% endif %}" />
                                    {% endif %}
                                </div>
                                {% if field.errors %}
                                <span style="color: red">{{ field.errors }}</span>
                                {% endif %}
                                {% endfor %}
                                <button type="submit" class="btn btn-secondary mt-3 mb-lg-5">작성하기</button>
                            </form>
                            <!-- Comment with nested comments-->
                            <div class="d-flex mb-4">
                                <!-- Parent comment-->
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    {% for answer in answers %}
                                    <div class="fw-bold">{{ answer.user }}</div>
                                    {{ answer.answer }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}